.info {
  padding: 114px 0;

  &__title {
    @include text(900, 30px, 65px, $black);
  }

  &__desc {
    @include text(500, 18px, 28px, $black);
    margin-bottom: 34px;
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    text-align: center;

    &-card {
      width: calc(33.33333% - 15px);
      border: 1px solid #E5E5E5;
      padding: 38px 0 8px;
      border-radius: 10px;


      &-title {
        @include text(900, 20px, 36px, $black);
      }

      &-desc {
        @include text(400, 18px, 26px, $black);
        margin-bottom: 40px;
      }

    }
    &-card:hover {
      color: white;
      background-color: $blue;
    }
  }
}

@media (max-width: 876px) {
  .info__title {
    font-size: 28px;
    line-height: 60px;
  }
  .info__desc {
    font-size: 16px;
    line-height: 25px;
  }
  .info__cards-card-title {
    font-size: 17px;
    line-height: 25px;
  }
  .info__cards-card-desc {
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #242321;
    margin-bottom: 40px;
  }
}

@media (max-width: 768px) {
  .info__cards-card-desc {
  font-size: 13px;
  }
  .info__cards-card-title {
    font-size: 15px;
  }
}
@media (max-width: 676px) {
  .info__title {
    font-size: 26px;
  }
  .info__desc{
    font-size: 14px;
    line-height: 23px;
    br {
      display: none;
    }
  }
  .info__cards {
    flex-wrap: wrap;
    flex-direction: column;
    row-gap: 30px;
    justify-content: center;
    align-items: center;
    &-card {
      width: 70% ;
      padding: 40px 30px;
      &-desc {
        font-size: 16px;
      }
      &-title {
        font-size: 18px ;
        line-height: 36px;
      }
    }
  }

}
@media (max-width: 576px) {
  .info__cards-card {
    width: 100% ;
  }
  .info__cards-card-desc {
    font-size: 16px;
  }
}
@media (max-width: 425px) {

}
@media (max-width: 375px) {
  .info__cards-card-title {
    font-size: 14px;
  }
  .info__cards-card-desc {
    font-size: 13px;
  }
}
@media (max-width: 320px) {

}
